
*main{
    padding: 0px;
    margin: 0px;
  
}
.container{
    display: flex;
    /* flex-direction: column; */
    height:100%;
}
.box{
    height: 50%;
    width: 50%;

    color:green;
    background-color: red;
    border: 2px  solid black;
    
   
}
.box:nth-of-type(2){
    
background-image: url("../1.png");
background-size:cover;
background-repeat:no-repeat; 
    background-position:center;
    
    

}
@media( max-width:576px){
    .container{
        flex-direction: column;
    }
   .box{
       width:100%;
       
}
   
}
