
*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    background-color: darkblue;
}
.logo{
    width: 25%;
    height:100%;
    background-color:lightblue;
   
}
.logo a{
    width: 100%;
    height:100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo a img{
    height:auto;
    width:auto;
}
.menu{
    width: 75%;
    height: 100%;
    display: flex;
}
.navBar{  
}
.menu .navBar ul{
    width: 100%;
    height: 100%;
      display: flex;
    justify-content: space-around;
    align-items: center;
   text-decoration: none;
   list-style-type: none;
   }
.navBar ul li{
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 2.5%;
}

.navBar ul li a{
    text-decoration: none;
    height:100%;
    font-size:1.5vw;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white; 
    position: absolute;
}






