
*main{
    padding: 0px;
    margin: 0px;
  
}
.header{
    width: 100%;
    height: 10%;
 
    display: flex;

}
.logo{
   flex: 0 0 25%;
    background-color: darkblue;
   
}
.logo a{
    width: 100%;
    height: 100%;
     display: flex;
    justify-content: center;


}
.logo a img{
    width: auto;
    height: auto;
}
.menu{
   flex:1;
      background-color:lightblue;;
}
.navBar {
    height: 100%;
width: 100%;
display: flex;
position:relative;

}
.navBar ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
   list-style: none;
    font-size:16px;
  
}
.navBar ul li {
    position:relative;
padding:7px;
}
.navBar ul li a{
   text-decoration: none;
}


@media (max-width:576px){
.header{
    height: 6%;
}

}
