
body{
    margin: 0px;
    padding: 0px;
    
    
}
.header{
    width: 100vw;
    height: 3rem;
    display: flex;
    background-color: darkblue;
    


}
.logo{
    width: 25%;
    height:100%;
    background-color:white;
   
}
.logo a{
    width: 100%;
    height:100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo a img{
    height:100%;
    width:auto;
}
.menu{
    width: 75%;
    height: 100%;
    display: flex;
    
    


}
.navBar{
    flex:1;
    display: flex;    
    
}
.menu .navBar ul{

      display: flex;
      flex: 1;
    justify-content: space-around;
    align-items: center;
   text-decoration: none;
   list-style: none;
   gap: 20px;
   }
.navBar ul li{
    width: 100%;
    height: 100%;
    display: flex;
    
}

.navBar ul li a{
    text-decoration: none;
    height:100%;
    font-size:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white; 
     
    
     
      
    
}






